
.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.galery img {
  width: 200px; 
  height: auto;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.galery .rotate_right {
  transform: rotate(15deg);
}

.galery .rotate_left {
  transform: rotate(-15deg);
}

/* keretet kéne adni, háttérszín */
/* https://getcssscan.com/css-box-shadow-examples */

